#board {
  visibility: hidden;
  height: 50vw;
  width: 50vw;
  display: grid;
  grid-template: 1.5fr repeat(5, 1fr) 1.5fr / 1.5fr repeat(5, 1fr) 1.5fr;
  position: absolute;
  left: 25vw;
  right: 25vw;
  top: 200px;
  z-index: 0;
}

#board > div {
  border-style: solid;
  z-index: 0;
}

#board > .ray-selector {
  background-color: green;
  font-size: 4vmin;
}

#score-display {
  text-align: center;
}

#guess-board {
  visibility: hidden;
  height: 31.25vw;
  width: 31.25vw;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  position: absolute;
  left: 34.375vw;
  right: 34.375vw;
  top: 331px;
  z-index: 1;
}

#guess-board > div {
  z-index: 2;
  background-color: black;
  border: solid grey;
}

h1 {
  text-align: center;
}

button {
  position: absolute;
  top: 1000px;
  left: 40vw;
  right: 40vw;
}

#submit-guess {
  top: 970px;
}

#new-game {
  top: 160px;
}